PORT=5000

SUPABASE_URL=your_supabase_url_here
SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

JWT_SECRET=0ee1c62e75fc54066d519f127f8f8d07895d15d944428a89b8320a3f98e77c24657d2ef310da0d156bf2dadc732eef00f28da01ce0b0cffa81ad72b227bd5d85

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback

FRONTEND_URL=http://localhost:3000